<ul id="menu">
    <li>
        <%= link_to t(".organization"), :organization %>
        <ul>
            <li>
                <%= link_to t(".organization_licenses"), :licenses_organization %>
            </li>
            <li>
                <%= link_to t(".organization_management"), :management_organization %>
            </li>
        </ul>
    </li>
    <li>
        <%= link_to t(".markets"), :markets %>
        <ul>
            <%- S4::Market.all(s4_user).each do |market| -%>
                <li>
                    <%= link_to h(market.name), market_path(market) %>
                </li>
            <%- end -%>
        </ul>
    </li>
    <li>
        <%= link_to t(".documents"), :documents %>
    </li>
</ul>
