<div>&nbsp;</div>
<div>Права и обязанности по указанным в настоящей Доверенности сделкам, заключенным &nbsp;&nbsp;<%= @vars['agent_fio'] %>&nbsp;&nbsp;</div>
<div><%= "&nbsp;"*20 %><sup>(Ф.И.О. сотрудника)</sup></div>
<div>от имени Участника, принадлежат Участнику.</div>
<div><%= "&nbsp;"*5 %>Подпись &nbsp;&nbsp;<%= @vars['agent_fio'] %>&nbsp;&nbsp; _____________________удостоверяю.</div>
<div><%= "&nbsp;"*45 %><sup>(Ф.И.О. сотрудника, подпись)</sup></div>
<div>Настоящая Доверенность действительна по <%= @vars['current_date'] %>.</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>Контактные тел. _________________________________________________________</div>
<div><%= "&nbsp;"*5 %>Подпись &nbsp;&nbsp;<%= @vars['ceo_position'] %>,&nbsp;<%= @vars['ceo_fio'] %>&nbsp;&nbsp; ___________/ ___________</div>
<div><%= "&nbsp;"*45 %><sup>(занимаемая должность, подпись и Ф.И.О. лица, выдавшего Доверенность)</sup></div>
<div>М.П.</div>