<%= render :partial => 'header_authority', :locals => {'vars' => @vars} %>

<div>объявлять заявки и заключать сделки со срочными контрактами, получать и предоставлять документы и осуществлять иные действия, предусмотренные внутренними документами ЗАО «ФБ ММВБ», устанавливающими требования к организации торговли на срочном рынке ЗАО «ФБ ММВБ» и порядку торгов срочными контрактами,
     от имени &nbsp;&nbsp;<%= @vars['organization_name'] %>&nbsp;&nbsp;,</div>
<div><%= "&nbsp;"*40 %><sup>(наименование организации - Участника торгов)</sup></div> 
<div>приводящие к открытию позиций на следующих позиционных счетах (указать нужное):</div>
<div><%= "&nbsp;"*10 %>- всех позиционных счетах, либо</div> 
<div><%= "&nbsp;"*10 %>- №№ позиционных счетов. </div>

<%= render :partial => 'footer_authority', :locals => {'vars' => @vars} %>