<div align="center">ДОВЕРЕННОСТЬ №__</div>
<div>г.________________________________________</div>
<div>____________________________________________________________________________________________</div>
<div><%= "&nbsp;"*60 %><sup>(дата выдачи Доверенности прописью)</sup></div>
<div>&nbsp;</div>
<div>Настоящей Доверенностью <ins>&nbsp;&nbsp;<%= @vars['organization_name'] %>&nbsp;&nbsp;</ins></div>
<div><%= "&nbsp;"*60 %><sup>(наименование организации-Участника)</sup></div>            
<div>в лице <ins>&nbsp;&nbsp;<%= @vars['ceo_position'] %>,&nbsp;</ins><ins><%= @vars['ceo_fio'] %>&nbsp;&nbsp;</ins>,</div>
<div><%= "&nbsp;"*30 %><sup>(занимаемая должность лица, Ф.И.О.)</sup></div>
<div>действующе__ на основании <ins>&nbsp;&nbsp;<%= @vars['document_name'] %>&nbsp;&nbsp;</ins>,</div>
<div>доверяет сотруднику <ins>&nbsp;&nbsp;<%= @vars['agent_position'] %>,&nbsp;</ins><ins><%= @vars['agent_fio'] %>&nbsp;&nbsp;</ins></div>
<div><%= "&nbsp;"*45 %><sup>(занимаемая должность лица, Ф.И.О.)</sup></div>
<div>паспорт серия ______ № __________, выдан ___________________________________________________,</div>
<div><%= "&nbsp;"*90 %><sup>(когда, кем)</sup></div>

<div>осуществлять введение от имени Участника в программно-технический комплекс ЗАО «Московская межбанковская валютная биржа» информации о готовности Участника заключить с Банком России сделки прямого РЕПО на внебиржевом рынке в соответствии с Договором между Участником и ЗАО «Московская межбанковская валютная биржа» «Об участии в Системе информационного обеспечения заключения Банком России сделок прямого РЕПО на внебиржевом рынке».</div> 

<div><%= "&nbsp;"*5 %>Подпись <ins>&nbsp;&nbsp;<%= @vars['agent_fio'] %>&nbsp;&nbsp;</ins> _____________________удостоверяю.</div>
<div><%= "&nbsp;"*45 %><sup>(Ф.И.О. сотрудника)</sup></div>
<div>Настоящая Доверенность выдана без права передоверия.</div>
<div>Настоящая Доверенность действительна до _______________________________________________.</div>
<div><%= "&nbsp;"*90 %><sup>(срок действия Доверенности прописью)</sup></div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>Контактные тел. _________________________________________________________</div>
<div><%= "&nbsp;"*5 %>Подпись <ins>&nbsp;&nbsp;<%= @vars['ceo_position'] %>,&nbsp;</ins><ins><%= @vars['ceo_fio'] %>&nbsp;&nbsp;</ins> ___________/ ___________/</div>
<div><%= "&nbsp;"*45 %><sup>(занимаемая должность и Ф.И.О. лица, выдавшего Доверенность)</sup></div>
<div>М.П.</div>