<ul id="contextual_menu" class="tabbed_menu">
    <%- @organization.free_markets.each do |market| -%>
        <li data-context-anchor="market_<%= market.to_param %>" data-markets="<%= market.to_param %>">
            <%= link_to h(market.name), markets_path(:anchor => "market_#{market.to_param}") %>
        </li>
    <%- end -%>
    <%- @organization.market_groups.each do |group| -%>
        <li data-context-anchor="group_<%= group.to_param %>" data-markets="<%= group.markets.collect(&:to_param).join(",") %>">
            <%= link_to h(group.title), markets_path(:anchor => "group_#{group.to_param}") %>
        </li>
    <%- end -%>
</ul>

<script type="text/javascript" charset="utf-8">

    (function() {

        var available_contexts  = $('contextual_menu').select("li[data-context-anchor]").collect(function(li) { return li.readAttribute("data-context-anchor"); })
        var current_context     = null;

        function check_context() {
            var anchor  = window.location.hash.sub(/^\#/, '');
            var context = available_contexts.include(anchor) ? anchor : available_contexts.first();

            if (context == current_context) return;
            
            document.fire("context:switched", { context: context });
        }
        
        document.on("context:switched", function(e) {
            current_context = e.memo.context;
            
            $$('*[data-context-anchor]').invoke('removeClassName', 'current');
            $$('*[data-context-anchor=' + current_context + ']').invoke('addClassName', 'current');

            $$('*[data-market]').invoke('hide');
            
            $$('*[data-context-anchor=' + current_context + ']').each(function(item) {
                item.readAttribute("data-markets").split(",").each(function(id) {
                    $$('*[data-market=' + id + ']').invoke('show');
                })
            });
        });
        
        check_context();
        
        new PeriodicalExecuter(check_context, .2);
        
    }).defer();

</script>
