<h1><%= S4::Organization.find(s4_user).full_name %></h1>
<%=contextual_menu %>
<!--h1>Сведения о капитале</h1>-->
<%= render "edited_form" %>
<%= render "reg_card_errors_list" %>
<% semantic_form_for :capital, :url => 'capitalsave' do |f| %>
  <%= f.rrender @capital %>
<% end %>
