<h1><%= S4::Organization.find(s4_user).full_name %></h1>
<%=contextual_menu %>
<h1>Руководитель</h1>
<% semantic_form_for 'ceo', :url => 'ceo_new' do |f| %>
  <%= f.rrender @ceo %>
<% end %>

<h1>Контролеры организации</h1>
<% semantic_form_for :controllers do |f| %>
  <%= f.grid(@admin, 'controllers', {}).gsub(/<li[^>]*><fieldset[^>]*>(.*)?<\/fieldset><\/li>/, '\1').gsub(/<legend[^>]*>.*?<\/legend>(.*)$/, '\1') %>
<% end %>

<%=content_tag :button, "Добавить", :onclick => "window.location='#{url_for :action => :controllersadd }';"%>