<%= stylesheet_link_tag 'managerStyle' %>
<%= stylesheet_link_tag 'dialog' %>
<%= stylesheet_link_tag("formstyling") %>
<h1>
    <%= @organization.full_name %>
</h1>

<%= contextual_menu %>


<% if @notices.size != 0 %>
  <%= table_listing(@schemaForTable, @notices, [{"title" => "Просмотреть", "img" => "/images/icons/view.gif", "link" => "/organization/notice/:id/type/3"}]) %>
<%else%>
	<%= I18n.t(:tableNoRows, :scope => [:organizations, :controldebt]) %>
<%end%>
<div class="legend">
<%= textilize I18n.t(:text1, :scope => [:organizations, :controldebt]) %>
<%= textilize I18n.t(:text2, :scope => [:organizations, :controldebt]) %>
</div>