<h1><%= S4::Organization.find(s4_user).full_name %></h1>
<%=contextual_menu %>
<!--<h1>Филиалы</h1>-->
<%= render "edited_form" %>
<%= render "reg_card_errors_list" %>
<% semantic_form_for :filials, :url => "/organization/filialscreate" do |f| %>
  <%= f.rrender @filials %>
<% end %>
