<h1><%= S4::Organization.find(s4_user).full_name %></h1>
<%=contextual_menu %>
<!--<h1>Лицензии</h1>-->
<%= render "edited_form" %>
<%= render "reg_card_errors_list" %>
<% semantic_form_for :licenses, :url => { :action => "/organization/licensessave"} do |f| %>
  <%= f.rrender @licenses %>
<% end %>
