<%= stylesheet_link_tag 'managerStyle' %>
<h1>
    <%= @organization.full_name %>
</h1>

<%= contextual_menu %>


<script language='javascript' type='text/javascript'>
function saveStar(event) {
  new Ajax.Request('/organization/starbox', {
    parameters: event.memo,
    onComplete: function(xhr) {
      // optional callback
    }
  });
}
</script>

<script language='javascript' type='text/javascript'>
document.observe('dom:loaded', function() {
  <% @documentList.each do |scrpt| %>
	  $('mng_<%=scrpt["id"]%>').observe('starbox:changed', starboxChangedText) // observe the mouseover
	    .observe('starbox:rated', starboxRatedText) // observe the click
	    .observe('starbox:left', starboxLeftText); // observe the mouseout
  <% end %>
});
</script>

<div class="resources">
  <div class="clients_list">
	<% @documentList.each do |column| %>
		  <ins>
		    <div class="man">
		      <div class="photos">
		        <div class="photo_file_name">
		          <%=column["photo_file_name"]%>
		         </div>
				    <div class="manager_id"><%=column["id"]%></div>
				    <div class="photo_base64">
				      <img src="<%=column['photo_base64']%>" alt="">
				    </div>
				  </div>
				  <div class="namus">
				    <h4 class="name"><%=column["employee_id"]%></h4>
				    <div class="category">(<%=column["personal_manager_category"]%>)</div>
				  </div>
				  <div id='mng_<%=column["id"]%>'></div>
				</div>
		  </ins>
		<% end %>
	</div>
</div>

<script language='javascript' type='text/javascript'>
	<% @documentList.each do |scrpt| %>
		new Starbox('mng_<%=scrpt["id"]%>', <%=scrpt["rating"]%>, {rerate: false, locked: true,});
		
		document.observe('dom:loaded', function() { // once the DOM is loaded
		  $('mng_<%=scrpt["id"]%>').observe('starbox:rated', saveStar);
		});
	<% end %>
</script>

<div class="link_to_send_message">
	<% form_remote_tag(:url => {:controller => "senddocuments", :action => "message"}, :html => { :method => "get",:id => "sendTOSM" } )  do %>
		<%= submit_tag("Отправить сообщение", :name => "") %>
	<% end %>
</div>
<%= javascript_include_tag("manager_script") %>
