<%= stylesheet_link_tag 'managerStyle' %>
<h1>
    <%= @organization.full_name %>
</h1>
<%= contextual_menu %>

<div class="resource">
  <div class="clients_list">
	<% @documentList.each do |column| %>
		  <ins>
		    <div class="man">
		      <div class="photos">
		        <div class="photo_file_name">
		          <%=column["photo_file_name"]%>
		         </div>
				    <div class="manager_id"><%=column["id"]%></div>
				    <div class="photo_base64">
				      <img src="<%=column['photo_base64']%>" alt="">
				    </div>
				  </div>
				  <div class="namus">
				    <h4 class="name"><%=column["employee_id"]%></h4>
				    <div class="category">(<%=column["personal_manager_category"]%>)</div>
				  </div>
				</div>
		  </ins>
		<% end %>
	</div>
</div>
