<%= stylesheet_link_tag 'managerStyle' %>
<%= stylesheet_link_tag 'dialog' %>
<h1>
    <%= @organization.full_name %>
</h1>

<%= contextual_menu %>

<% if @notices.size != 0 %>

<%= table_listing(@schemaForTable, @notices, [{"title" => "Просмотреть", "img" => "/images/icons/view.gif", "link" => "/organization/notice/:id/type/1"}]) %>
<%else%>
	Сообщений нет
<%end%>