<h1><%= S4::Organization.find(s4_user).full_name %></h1>
<%=contextual_menu %>
<!--<h1>Структура управления</h1>-->
<%= render "edited_form" %>
<%= render "reg_card_errors_list" %>
<% semantic_form_for :structure, :url => '/organization/structureedit' do |f| %>
  <%= f.rrender @structure %>
    <li class="buttons">
      <input class="submit" name="commit" type="submit" value="Сохранить" id="structure_submit">
      <button onclick="window.location = '/organization/reset?section=structure';return false;">Отменить</button>
    </li>
<% end %>
