<%= stylesheet_link_tag("senddocument2") %>
<%= stylesheet_link_tag("authority") %>
<%= stylesheet_link_tag("formstyling") %>
<!--h1 class="senddocument_header"><%= t(:menu_title, :scope => [:shared, :senddocument]) %></h1-->
<h1><%= @organization.full_name %></h1>

<%= contextual_menu %>

<h2 style="color: green;"><%= @complete_message %></h2>

<%= error_messages_for :senddocument %>
<div class="senddocument formstyling">
<% form_for @senddocument, :html => { :multipart => true } do |f| %>
	<div class="l-field">
		<p>
			<span class="label_span"><%= f.label :type_id, t(:type_label, :scope => [:shared, :senddocument, :columns]) %></span>
			<%= f.select(:type_id, @document_types.collect {|document| [document.name, document.id]}) %>
		</p>
	</div>
	
	<div class="l-field">
		<p>
		  <span class="star">*</span>
			<span class="label_span"><%= f.label :text, t(:text, :scope => [:shared, :message, :columns]), :class => "required" %></span>
      <%= f.text_area :text, :cols => 10, :rows => 10 %>
		</p>
	</div>
	
  <div class="l-field">
		<p>
		  <span class="star">*</span>
			<span class="label_span"><%= f.label :type_id, t(:document_label, :scope => [:shared, :senddocument, :columns]), :class => "required" %></span>
			<%= f.file_field :document %>
	  </p>
	</div>
  
  <div class="submit">
		<p>
			<span class="label_span">&nbsp;</span>
      <%= f.submit t(:send_button, :scope => [:shared, :senddocument]) %>
  	</p>
	</div>
<% end %>
</div>
<div class="legend">
    <p>
        <label>&nbsp;</label>
         <span class="star">*</span>
        Обязaтельные для заполнения поля
    </p>
</div>
