<%= stylesheet_link_tag 'senddocument' %>
<%= stylesheet_link_tag("formstyling") %>

<%= javascript_include_tag("calendar") %>
<%= stylesheet_link_tag("calendarview") %>

<%= error_messages_for :documentfilter %>
<!--h1 class="senddocument_header"><%= t(:menu_title, :scope => [:shared, :senddocument]) %></h1-->
<h1><%= @organization.full_name %></h1>

<%= contextual_menu %>

<%= render :partial => 'search_form', :locals => {'documentfilter' => @documentfilter} %>

<%= table_listing(S4::SendedForm.schema, @documentListing) %>
<% if @documentListing.size == 0 %>
	<div style="padding:10px;background:#ccc;text-align:center;">
        <strong>Соответствующие вашему запросу документы отсутствуют</strong>
    </div>
<%end%>

<%= javascript_include_tag("document_list") %>
