<%= stylesheet_link_tag 'senddocument' %>
<%= stylesheet_link_tag("formstyling") %>
<%= javascript_include_tag("document_list") %>
<%= error_messages_for :documentfilter %>
<h1 class="senddocument_header"><%= t(:menu_title, :scope => [:shared, :senddocument]) %></h1>

<%= contextual_menu %>

<%= render :partial => 'search_form', :locals => {'documentfilter' => @documentfilter} %>

<% if @documentListing.size != 0 %>
  <%= table_listing(S4::SendedForm.schema, @documentListing) %>
<%else%>
	<table class="resource">
		<thead>
			<tr>
				<td>Код отправленного документа</td>
				<td>Дата отправки</td>
				<td>Заголовок сообщения</td>
				<td>Текст сообщения</td>
				<td>Тип процедуры (документа)</td>
				<td>Дата, год-квартал</td>
				<td>ФИО отправителя</td>
				<td>Название файла</td>
				<td>Статус</td>
				<td>Комментарий сотрудника биржы</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td colspan="10">
					<div style="padding:10px;background:#ccc;text-align:center;">
						<strong>Соответствующие вашему запросу документы отсутствуют</strong>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
<%end%>
