<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <%= stylesheet_link_tag "main", "markets", "prototip", :cache => "s4" %>
        <%= javascript_include_tag "prototype", "obfuscator", "prototip/prototip", :cache => "s4" %>
        <title>
            <%= [t(".title"), s4_user ? t("title", :scope => [params[:controller]]) : nil].compact.join(" :: ") %>
        </title>
    </head>
    <body>
        <div id="page_wrapper">
            <%= render "shared/headline" %>
            <%= render "shared/header" %>
            <%= render "shared/navigation" %>
            
            <div id="content_wrapper">
                <div id="content">
                    <%= yield %>
                </div>
            </div>
        </div>

        <div id="footer_wrapper">
            <%= render "shared/footer" %>
        </div>
    </body>
</html>
