<div></div>
<div>(Идентификатор Участника торгов на фондовом рынке ЗАО «ФБ ММВБ» №________________________).</div> 
<div>Права и обязанности по сделкам, заключенным  на фондовом рынке ЗАО «ФБ ММВБ»</div>
<div><ins>&nbsp;&nbsp;<%= @vars['agent_fio'] %>&nbsp;&nbsp;</ins></div>
<div><%= "&nbsp;"*1 %><sup>(Ф.И.О. представителя Участника торгов)</sup></div>
<div>от имени <ins>&nbsp;&nbsp;<%= @vars['organization_name'] %>&nbsp;&nbsp;</ins></div>
<div><%= "&nbsp;"*25 %><sup>(наименование организации - Участника торгов)</sup></div>
<div>принадлежат <ins>&nbsp;&nbsp;<%= @vars['organization_name'] %>&nbsp;&nbsp;</ins>.</div>
<div><%= "&nbsp;"*35 %><sup>(наименование организации - Участника торгов)</sup></div> 
<div><%= "&nbsp;"*20 %>Подпись ____________________________________<%= "&nbsp;"*10 %>______________ удостоверяем.</div>
<div><%= "&nbsp;"*40 %><sup>(Ф.И.О. представителя Участника торгов)</sup><%= "&nbsp;"*30 %><sup>(подпись)</sup></div>
<div>Настоящая доверенность выдана без права передоверия и действительна  по</div>                
&nbsp;&nbsp;<div>“__” _____________ 200   г. включительно.</div>
<div>&nbsp;</div>
<div>Участник торгов подтверждает соответствие <ins>&nbsp;&nbsp;<%= @vars['agent_fio'] %>&nbsp;&nbsp;</ins></div>      
<div><%= "&nbsp;"*80 %><sup>(Ф.И.О. представителя Участника торгов)</sup></div>                                    
<div>требованиям, предусмотренным нормативными правовыми актами уполномоченного федерального  органа исполнительной власти в отношении аттестации специалистов рынка ценных бумаг, а также внутренними документами ЗАО «ФБ ММВБ», и несет ответственность  за все действия, совершаемые  его Трейдером в ЗАО «ФБ  ММВБ».</div>
<div>&nbsp;</div>
<div>Контактные телефоны _____________________________</div>
<div>Руководитель Участника торгов ЗАО « ФБ ММВБ»</div> 
<div>_____________________________<%= "&nbsp;"*40 %>____________________/_____________/</div>
<div><%= "&nbsp;"*20 %><sup>(Должность)</sup><%= "&nbsp;"*75 %><sup>(Подпись)</sup><%= "&nbsp;"*25 %><sup>(Ф.И.О.)</sup></div>
<div align="right">м.п.</div>