<div>&nbsp;</div>
<div>Права и обязанности по сделкам с указанными в настоящей Доверенности Облигациями, заключенным <ins>&nbsp;&nbsp;<%= @vars['agent_fio'] %>&nbsp;&nbsp;</ins></div>
<div><%= "&nbsp;"*20 %><sup>(Ф.И.О. сотрудника)</sup></div>
<div>от имени Участника, принадлежат Участнику.</div>
<div><%= "&nbsp;"*5 %>Подпись <ins>&nbsp;&nbsp;<%= @vars['agent_fio'] %>&nbsp;&nbsp;</ins> _____________________удостоверяю.</div>
<div><%= "&nbsp;"*45 %><sup>(Ф.И.О. сотрудника, подпись)</sup></div>
<div>Настоящая Доверенность действительна до “___”__________ 200_г.</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>Контактные тел. _________________________________________________________</div>
<div><%= "&nbsp;"*5 %>Подпись <ins>&nbsp;&nbsp;<%= @vars['ceo_position'] %>,&nbsp;</ins><ins><%= @vars['ceo_fio'] %>&nbsp;&nbsp;</ins> ___________/ ___________/</div>
<div><%= "&nbsp;"*45 %><sup>(занимаемая должность, подпись и Ф.И.О. лица, выдавшего Доверенность)</sup></div>
<div>М.П.</div>