<div align="center">ДОВЕРЕННОСТЬ №__</div>
<div>г.________________________________________<%= "&nbsp;"*60 %>"__" __________ 20__г.</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>Настоящей Доверенностью <ins>&nbsp;&nbsp;<%= @vars['organization_name'] %>&nbsp;&nbsp;</ins></div>
<div><%= "&nbsp;"*60 %><sup>(наименование организации-Участника)</sup></div>            
<div>в лице <ins>&nbsp;&nbsp;<%= @vars['ceo_position'] %>,&nbsp;</ins><ins><%= @vars['ceo_fio'] %>&nbsp;&nbsp;</ins>,</div>
<div><%= "&nbsp;"*30 %><sup>(занимаемая должность лица, Ф.И.О.)</sup></div>
<div>действующе__ на основании <ins>&nbsp;&nbsp;<%= @vars['document_name'] %>&nbsp;&nbsp;</ins>,</div>
<div>доверяет сотруднику <ins>&nbsp;&nbsp;<%= @vars['agent_position'] %>,&nbsp;</ins><ins><%= @vars['agent_fio'] %>&nbsp;&nbsp;</ins></div>
<div><%= "&nbsp;"*45 %><sup>(занимаемая должность лица, Ф.И.О.)</sup></div>
<div>паспорт серия ______ № __________, выдан ___________________________________________________,</div>
<div><%= "&nbsp;"*90 %><sup>(когда, кем)</sup></div>
<div>представлять <ins>&nbsp;&nbsp;<%= @vars['organization_name'] %>&nbsp;&nbsp;</ins></div>
<div><%= "&nbsp;"*35 %><sup>(наименование организации-Участника)</sup></div>
<div>именуем___