<div align="center"><b>Доверенность №____</b></div>
<div>г.________________________________________<%= "&nbsp;"*60 %>"__" __________ 20__г.</div>
<div>Настоящей доверенностью <ins>&nbsp;&nbsp;<%= @vars['organization_name'] %>&nbsp;&nbsp;</ins></div>
<div><%= "&nbsp;"*60 %><sup>(наименование организации -  Участника торгов)</sup></div>
<div>______________________________________________________</div>
<div><%= "&nbsp;"*10 %><sup>(идентификатор Участника торгов)</sup></div>
<div>в лице _____________________________________________________________________________________</div>
<div><%= "&nbsp;"*20 %><sup>(занимаемая должность лица, Ф.И.О.)</sup></div>
<div>действующего на основании Устава*, доверяет <ins>&nbsp;&nbsp;<%= @vars['agent_position'] %>,&nbsp;</ins><ins><%= @vars['agent_fio'] %>&nbsp;&nbsp;</ins></div>
<div><%= "&nbsp;"*80 %><sup>(занимаемая должность сотрудника, Ф.И.О.)</sup></div>
<div>паспорт __________, выдан ______________________________________________________________</div>
<div><%= "&nbsp;"*70 %><sup>(когда, кем) </sup></div>
<div>от имени &nbsp;&nbsp;<%= @vars['organization_name'] %>&nbsp;&nbsp;</div>
<div><%= "&nbsp;"*45 %><sup>(наименование Участника торгов)</sup></div>
<div>осуществлять следующие действия:</div>

<div> -<%= "&nbsp;"*5 %>участвовать в торгах иностранными валютами на ЕТС, осуществлять операции по покупке и продаже иностранной валюты и заключать сделки в порядке, предусмотренном Правилами проведения операций по покупке и продаже иностранной валюты на Единой торговой сессии (далее – Правила ЕТС);</div>
<div> -<%= "&nbsp;"*5 %>получать информацию и отчетные документы по результатам торгов иностранными валютами, предусмотренные Правилами ЕТС.</div>
<div><%= "&nbsp;"*5 %>Права и обязанности по сделкам с иностранной валютой, заключенным </div>
<div><%= "&nbsp;"*5 %><%= @vars['agent_position'] %>,&nbsp;</ins><ins><%= @vars['agent_fio'] %>&nbsp;&nbsp;</div>
<div><%= "&nbsp;"*50 %><sup>(Ф.И.О. сотрудника)</sup></div>
<Div>от имени <%= @vars['organization_name'] %></div>
<div><%= "&nbsp;"*40 %><sup>(наименование Участника торгов)</sup></div>
<div>возникают у Участника торгов.</div>

<div>&nbsp;</div>
<div>Настоящая доверенность выдана без права передоверия и действительна по</div>
<div>« » _____________________________20__г.</div>

<div>Образец подписи____________________________________________ удостоверяю.</div>
<div><%= "&nbsp;"*35 %><sup>(Ф.И.О. и подпись сотрудника)</sup></div>
<div>Контактный телефон доверенного лица:___________________________________________</div>

<div align="right">__________________________</div>
<div align="right"><sup>(Должность Руководителя организации)</sup></div>

<div align="right">___________/ ______________/</div>
<div><%= "&nbsp;"*138 %><sup>(Подпись)</sup><%= "&nbsp;"*10 %><sup>(Фамилия И.О.)</sup></div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div align="right">М.П.<%= "&nbsp;"*20 %></div>